@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:wght@500&display=swap');


body {
    font-family: 'Metal Mania';
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("soursces/img/lvl1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#message {
    text-align: center;
    position: absolute;
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
    top: 0%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}


#counter {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);;
    color: white;
    font-size: 50px;
    margin: 5%;
}



#gameSoundControlButton {
    position: absolute;
    top: 2%;
    left: 95%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;
}


#weapon {
    width: 25%;
    background-image: url("soursces/img/arma0.png");
    background-repeat: no-repeat;
    height: 25%;
    bottom: 0;
    position: absolute;
}

#weapon.active {
    background-image: url("soursces/img/armaper.png");
    width: 45%;
    height: 45%;
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
}