* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Metal Mania', cursive;
    background-color: #000; /* Cambiar el color de fondo según tus preferencias */
    color: #fff;
}

#movableElement {
    margin: 3%;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    transition: transform 0.2s ease;
}

body img {
    max-width: 100%; /* Hacer que las imágenes sean responsivas */
    height: auto;
}

#reset {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h3 {
    font-size: 2rem;
    text-align: center; /* Centrar el texto horizontalmente */
}

h4 {
    font-size: 1.5rem;
    text-align: center; /* Centrar el texto horizontalmente */
}

.remove-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de "start" a "flex-start" */
    height: 100vh;
}

.sound-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sound-button:hover {
    background-color: #0056b3;
}

.img_klipartz {
    justify-content: center;
    display: flex;
    margin: 3%;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    transition: transform 0.2s ease;
}

/* Estilos para dispositivos móviles (por ejemplo, smartphones) */
@media screen and (max-width: 767px) {
    #movableElement {
        width: 80px;
        height: 80px;
    }

    h3 {
        font-size: 1.5rem;
        text-align: center; /* Centrar el texto horizontalmente */
    }

    h4 {
        font-size: 1.2rem;
        text-align: center; /* Centrar el texto horizontalmente */
    }
}

/* Estilos para pantallas de ordenador */
@media screen and (min-width: 768px) {
    #movableElement {
        width: 150px;
        height: 150px;
    }

    h3 {
        font-size: 3rem;
        text-align: left; /* Alinear el texto a la izquierda */
    }

    h4 {
        font-size: 2rem;
        text-align: left; /* Alinear el texto a la izquierda */
    }
}
