*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    
}
body{
    background-image: url(img/lvl\ 1.png);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#movableElement {
    margin: 3%;
    position: absolute; 
    width: 100px; 
    height: 100px; 
    bottom: 0;
    transition: transform 0.2s ease;
}
body img {
    width: 150%;
    height: 160%;
}
#reset {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    right: 20px; /* Ajusta la distancia desde la derecha según tus necesidades */
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Metal Mania', cursive;
    cursor: pointer;
}
